<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Cliente</h1>
    <h3>{{listarProd.nome}}</h3>
    <p> Email: {{listarProd.email}}</p>
    <p> Telefone: {{listarProd.telefone}}</p>
    <p> Idade: {{listarProd.idade}}</p>

    <a href="/prod/edit/{{listarProd.id}}">Editar</a>
    <a href="/prod/remove/{{listarProd.id}}">Excluir</a>


    {{!-- <form action="/prod/remove/{{listarProd.id}}" method="post">
     <br>
    <input type="submit" value="Excluir">
    </form>  --}}

</body>
</html>